.App {
  font-size: 0.75rem;
  font-family: sans-serif;
  text-align: center;
}

.App::after {
  content: "";

  background: url("https://uploads.codesandbox.io/uploads/user/43c839be-4fb4-4287-8d5c-fe4126a728b4/c0ob-BIG.png");
  background-color: #222222;
  background-repeat: no-repeat;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.elem {
  height: 50px;
  width: 50px;
  border: 1px solid magenta;
}

.grab {
  cursor: grab;
}
.grabbing {
  cursor: grabbing;
  border: 1px dotted;
}
.selectedEffect {
  background: aqua;
}

.row {
  display: flex;
  margin: 10px;
  padding: 5px;
  flex-wrap: nowrap;
}
.box {
  display: flex;
  width: 100%;
}

.area {
  width: 100%;
  margin-left: 100px;
  border: 1px dotted;
}

.titleFont {
  color: #ff9900;
  font-family: roboto;
  font-size: 2em;
}

.subTitleFont {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

.tabBG {
  background-color: RGBA(50, 50, 50, 0.8);
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */
@media only screen and (max-width: 500px) {
  .box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
